# export LLM_PROVIDER=openrouter
# export OPENROUTER_API_KEY=sk-or-v1-*******
# export OPENROUTER_MODEL=deepseek/deepseek-v4-flash
export LLM_PROVIDER=lmstudio
export LM_STUDIO_BASE_URL=https://ollama.com/v1
export OPENAI_API_KEY=your_ollama_api_key
export LM_STUDIO_CHAT_MODEL=deepseek-v4-flash:cloud
